html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    background-color: #26292e;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.constrain {
    max-width: 1000px;
    margin: 0 auto;
}

.global-nav {
    background: #222;
    color: #ccc;
    background: -webkit-linear-gradient(top, rgba(58, 63, 76, 0.8) 0%, rgba(34, 38, 49, 0.8) 94%, rgba(112, 112, 112, 0.6) 97%, rgba(0, 0, 0, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(58, 63, 76, 0.8) 0%, rgba(34, 38, 49, 0.8) 94%, rgba(112, 112, 112, 0.6) 97%, rgba(0, 0, 0, 0.9) 100%);
    height: 32px;
    backdrop-filter: blur(3px);
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}

.global-nav ul {
    margin: 0 15px;
}

.global-nav ul li {
    display: inline-block;
    color: inherit;
}

.global-nav ul.links {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.35);
}

.global-nav ul.links li {
    float: left;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.35);
}

.global-nav a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    border: 0;
    outline: none;
    padding: 8px 10px;
    text-shadow: 0 0 2px #000;
    transition: background-color 0.2s;
}

.global-nav a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.page {
    background-color: #ddd;
    position: relative;
}

.page.dark {
    background-color: #161920;
}

.page .header-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 320px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background-image: url(images/header-cover.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 -3px 40px #000;
}

.page .footer-background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 20px;
    background-color: #232323;
    border-top: 1px solid rgba(120, 140, 180, 0.2);
    background: -webkit-linear-gradient(top, #1e1f20 0%, #26292e 70%);
    background: linear-gradient(to bottom, #1e1f20 0%, #26292e 70%);
}

.page .header {
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}

.page .header .header-container {
    position: relative;
    height: 130px;
}

.page .header .logo-image {
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 120px;
    height: 120px;
}

.page .header .logo-text {
    position: absolute;
    bottom: 25px;
    left: 130px;
    width: 175px;
    height: 64px;
}

.page .header .header-links {
    position: absolute;
    top: 52px;
    right: 24px;
    height: 36px;
    color: #eee;
    background-color: #568;
    background: -webkit-linear-gradient(top, rgba(120, 140, 180, 0.8), rgba(85, 102, 136, 0.8));
    background: linear-gradient(to bottom, rgba(120, 140, 180, 0.8), rgba(85, 102, 136, 0.8));
    border: 1px solid rgba(117, 137, 187, 0.8);
    border-radius: 18px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    overflow: hidden;
}

.page .header .header-links ul li {
    float: left;
}

.page .header .header-links ul li a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding: 11px 13px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    border-left: 1px solid rgba(117, 137, 187, 0.8);
    transition: background-color 0.2s;
}

.page .header .header-links ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.page .header .header-links ul li a.first {
    padding-left: 17px;
    border-left: none;
}

.page .header .header-links ul li a.last {
    padding-right: 17px;
}

.page .content {
    position: relative;
    background-color: #fff;
    color: #000;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.82), #fff 150px);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.82), #fff 150px);
    border: 1px solid #eee;
    min-height: 600px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
}

.page.dark .content {
    background-color: #1d272e;
    color: #fff;
    background: -webkit-linear-gradient(top, rgba(29, 39, 46, 0.7), #1d272e 150px);
    background: linear-gradient(to bottom, rgba(29, 39, 46, 0.7), #1d272e 150px);
    border-color: rgba(4, 204, 223, 0.3);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 1);
}

.page .content .side {
    float: right;
    max-width: 260px;
    width: 100%;
    min-height: 200px;
    color: #222;
    margin: 20px 0 20px 20px;
    padding-right: 20px;
    border-radius: 10px 0 0 10px;
    background-color: rgba(0, 0, 0, 0.06);
}

.page.dark .content .side {
    color: #ddd;
    background-color: rgba(0, 15, 25, 0.3);
}

.page .content .side h1 {
    font-size: 20px;
}

.page .content .side section {
    border-radius: 6px;
    /* padding: 10px; */
    margin: 10px;
}

.page .content.two-column main {
    max-width: 720px;
}

.page .content main section,
.page .content main article {
    margin: 20px;
}

.page .content main h1,
.page .content main h2,
.page .content main h3,
.page .content main h4,
.page .content main p {
    margin: 8px 0;
    line-height: 1.2;
}

.page .content main h1,
.page .content main h2,
.page .content main h3,
.page .content main h4 {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: #145392;
}

.page.dark .content main h1,
.page.dark .content main h2,
.page.dark .content main h3,
.page.dark .content main h4 {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    color: #aef;
}

.page .content main h1 {
    font-size: 28px;
}

.page .content main h2 {
    font-size: 24px;
}

.page .content main h3 {
    font-size: 20px;
}

.page .content main h4 {
    font-size: 14px;
}

.page .content main hr {
    color: transparent !important;
    border: none;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.page.dark .content main hr {
    border-color: rgba(85, 102, 136, 0.8);
}

.page .content main a {
    color: #145392;
}

.page.dark .content main a {
    color: #aef;
}

.footer {
    min-height: 40px;
    text-align: center;
    font-size: 12px;
    color: #727272;
    text-shadow: 0 -1px 0 #000;
    padding-top: 30px;
}

.footer a {
    color: #727272;
}

.footer a:hover {
    color: #999;
}

@media screen and (max-width: 1000px) {
    .page .header .logo-image {
        left: 0;
    }

    .page .header .logo-text {
        left: 110px;
    }

    .page .header .header-links {
        right: 10px;
    }

    .page .content {
        border-radius: 0;
        border-width: 1px 0px;
    }

    .page .content .side {
        max-width: 240px;
    }
}

@media screen and (max-width: 510px) {
    .page .header .logo-text {
        bottom: 40px;
    }

    .page .header .header-links {
        top: initial;
        bottom: 0;
        right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}