/* Main Style File (main.css) ==============================================
* Copyright RaduTek 2021
*/

/* #region Common variables & font ========================================= */

:root {
    --max-width: 1200px;
    --accent-color: #20d6e3;
    --accent-color-dark: #118088;
    --back-color: #161920;
    --fore-color: #fff;
    --border-color: #5e6a77;
    --border-color-blue: #364060;

    --footer-height: 63px;

    font-family: 'Segoe UI', Helvetica, Verdana, sans-serif;
    font-size: 9.75pt;

    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* #endregion */

/* #region Page Body ======================================================= */

body {
    height: 100%;
    margin: 0;
    color: var(--fore-color);
    background: var(--back-color);
    overflow-y: overlay;
    overflow-x: hidden;
}

/* Page Scrollbars */

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

/* #endregion */

/* #region Mobile Responsive Rules ========================================= */

.mobile-header-expand {
    float: right;
    margin: 5px;
    width: 36px;
    height: 32px;
    padding: 3px !important;
    display: none;
}

@media screen and (max-width: 700px) {
    .mobile-header-expand {
    display: unset;
    }

    .header-links {
    display: none;
    width: 100%;
    float: left;
    margin-left: 3px;
    }

    .header-links .link {
    margin: 8px 2px !important;
    }
}

/* #endregion */

/* #region Generic Classes ================================================= */

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}

.text-glow {
    text-shadow: 0px 0px 4px #ccc;
}
.svg-glow {
    filter: drop-shadow(0px 0px 4px #aaa);
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

.line-height-0 {
    line-height: 0;
}

.margin-0 {
    margin: 0;
}

.display-none {
    display: none;
}
.display-unset {
    display: unset;
}

.user-select-none {
    user-select: none;
}
.user-select-all {
    user-select: all;
}
.user-select-text {
    user-select: text;
}

.font-inherit {
    font-family: inherit;
}
.font-fixed {
    font-family: monospace;
}

/* #endregion */

/* #region Headings, links & other formats ================================= */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
    margin: 0;
    text-shadow: 0px 0px 10px #ccc;
}
h1 {
    font-size: 36pt;
    line-height: 70px;
}
h2 {
    font-size: 24pt;
    line-height: 48px;
}
h3 {
    font-size: 18pt;
    line-height: 36px;
}
h4 {
    font-size: 16pt;
    line-height: 32px;
}
h5 {
    font-size: 12pt;
    line-height: 24px;
}
h6 {
    font-size: 10pt;
    line-height: 20px;
}

p {
    margin: 6px 0px;
}

a {
    color: #ccc;
    transition: color 0.2s;
}
a:hover {
    color: #fff !important;
}

/* #endregion */

/* #region Controls (Inputs, Buttons) ====================================== */

/* #region Tooltip */

.tt-parent {
    position: relative;
    display: inline-block;
}

.tt-parent:hover .tt,
.tt-parent.tt-show .tt {
    visibility: visible;
    opacity: 1;
}

.tt-parent .tt {
    visibility: hidden;
    opacity: 0;
    background: #3a3f4c;
    background: linear-gradient(to bottom, #3a3f4ccc 0%, #222631cc 100%);
    backdrop-filter: blur(12px);
    color: var(--fore-color);
    text-shadow: 0px 0px 4px #aaa;
    text-align: center;
    border: 1px solid #568;
    border-radius: 6px;
    padding: 6px 2px;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 0px 6px var(--border-color-blue);
    transition: opacity 0.25s;
}

.tt.tt-top {
    bottom: 125%;
    left: 50%;
}
.tt.tt-top::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #777 transparent transparent transparent;
}
.tt.tt-bottom {
    top: 125%;
    left: 50%;
    padding: 4px 2px 6px 2px;
}
.tt.tt-bottom::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #777 transparent;
}

.tt.tt-1 {
    width: 60px;
    margin-left: -33px;
}
.tt.tt-2 {
    width: 80px;
    margin-left: -43px;
}
.tt.tt-3 {
    width: 100px;
    margin-left: -53px;
}
.tt.tt-4 {
    width: 120px;
    margin-left: -63px;
}
.tt.tt-5 {
    width: 140px;
    margin-left: -73px;
}
.tt.tt-6 {
    width: 180px;
    margin-left: -93px;
}
.tt.tt-7 {
    width: 240px;
    margin-left: -123px;
}

.tt.tt-delayed {
    transition-delay: 0s;
}
.tt-parent:hover .tt.tt-delayed {
    transition-delay: 1s;
}

/* #endregion */

/* #region Dropdown */

.dd-parent {
    overflow: hidden;
}

.dd-parent .dd-button {
    display: inline-block;
    height: 100%;
}

.dd-parent .dd {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: block;
    min-width: 120px;
    margin-left: -4px;
    background: #3a3f4c;
    background: linear-gradient(to bottom, #3a3f4ccc 0%, #222631cc 100%);
    backdrop-filter: blur(12px);
    color: var(--fore-color);
    text-shadow: 0px 0px 4px #aaa;
    text-align: left;
    border: 1px solid #568;
    border-radius: 8px;
    padding: 2px 8px 4px;
    box-shadow: 0px 0px 6px var(--border-color-blue);
    transition: opacity 0.25s;
    z-index: 999;
}

.dd-parent:hover .dd {
    visibility: visible;
    opacity: 1;
}

.dd-parent:hover .dd-button {
    color: #fff;
    text-decoration: underline;
}

.dd .dd-item {
    display: block !important;
    margin: 4px 0px !important;
    padding: 0px !important;
    text-decoration: none;
    transition: color 0.25s;
    color: #ccc;
}

.dd .dd-item:hover {
    text-decoration: underline;
    color: #fff;
}

.dd .dd-separator {
    display: block;
    border-top: 1px solid #568;
    margin: 8px -8px;
}

.dd .dd-label {
    display: block;
    margin: 3px 0px 5px;
    color: #ccc;
    font-weight: bold;
}

/* #endregion */

.input,
.textbox,
.button {
    font: inherit;
    font-family: inherit;
    font-size: inherit;
}

/* #endregion */

/* #region Page Components ================================================= */

/* #region Page Background */

.background {
    background: var(--back-color);
    background: url(/images/backgrounds/Spaceship_Blur.jpg) center no-repeat;
    background-size: cover;
    z-index: -999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* #endregion */

/* #region Page Header */

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #3a3f4c;
    background: linear-gradient(to bottom, #3a3f4caa 0%, #222631aa 100%);
    backdrop-filter: blur(12px);
    border-top: 1px solid var(--accent-color-dark);
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    z-index: 999;
    max-height: 50vh;
    transition: max-height 1s;
}
.header {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 4px 8px 0px 2px;
    height: 46px;
    cursor: default;
    user-select: none;
    z-index: 999;
}
.header-visible {
    display: block;
}
.header-left {
    float: left;
}
.header-right {
    float: right;
}

.header .link {
    color: #ccc;
    display: inline-block;
    margin: 10px 0px 0px 0px;
    padding: 2px 6px 4px 6px;
    background: transparent;
    border-radius: 3px;
    transition: box-shadow 0.2s, background 0.2s;
    text-decoration: none;
    text-shadow: 0px 0px 4px #888;
}
.header .link:hover {
    background: #55555544;
    box-shadow: 0px 0px 4px var(--border-color);
}
.header .link:active {
    background: #99999944;
}
.header .link svg {
    vertical-align: middle;
    margin-top: -2px;
    margin-left: -2px;
    filter: drop-shadow(0px 0px 2px #888);
}

.header .button {
    color: #ccc;
    padding: 6px;
    border: 1px solid #555555aa;
    border-radius: 4px;
    background: #33333388;
    transition: box-shadow 0.2s, background 0.2s;
}
.header .button:hover {
    background: #55555544;
    box-shadow: 0px 0px 4px var(--border-color);
}
.header .button:active {
    background: #99999944;
}

.header-logo {
    float: left;
}

.header-logo .logo-link {
    display: inline-block;
    font-weight: 100;
    font-size: 13.75pt;
    margin: 7px 10px 7px 0px;
    text-decoration: none;
    color: #eee;
    text-shadow: 0px 0px 6px #aaa;
    transition: color 0.5s, text-shadow 0.5s;
}
.header-logo:hover .logo-link {
    color: #fff;
    text-shadow: 0px 0px 6px #ccc;
}

.header-logo .logo-image {
    width: 42px;
    height: 42px;
    vertical-align: top;
    display: inline-block;
    filter: drop-shadow(0px 0px 2px #aaa);
}

/* #endregion */

/* #region Page Contents */

.content-container {
    max-width: var(--max-width);
    margin: 0 auto;
    margin-top: 64px;
    padding: 0px 10px;
    min-height: calc(100vh - 64px - 13px - var(--footer-height));
}

/* #endregion */

/* #region Page Title */

.title {
    margin: 12px 0px 6px;
    box-sizing: border-box;
    background: var(--back-color);
    background: repeating-linear-gradient(
        135deg,
        transparent,
        transparent 3px,
        rgba(0, 0, 0, 0.1) 4px,
        rgba(0, 0, 0, 0.1) 5px
    ),
    linear-gradient(to bottom, #3a3f4cdd 0%, #161920dd 100%);

    box-shadow: 0px 0px 12px var(--back-color), inset 5px 5px 5px 0px #0000004d;
    border: 1px solid var(--border-color-blue);
    border-radius: 8px;
    padding: 0px 10px 9px 16px;
    text-shadow: 0px 0px 10px #ccc;
    user-select: none;
}
.title-picture {
    float: right;
    width: auto;
    height: 128px;
    margin-top: -14px;
    filter: drop-shadow(0px 0px 5px #ccc);
    z-index: 100;
}

/* #endregion */

/* #region Page Sub */

.sub {
    background: #626262;
    background: linear-gradient(to bottom, #626262aa 0%, #4a4a4aaa 100%);
    border: 1px solid #777;
    border-radius: 8px;
    box-shadow: 0px 0px 12px var(--back-color);
    padding: 4px 10px;
    margin: 8px 0px;
    text-shadow: 0px 0px 5px #777;
}
.sub.equal-padding {
    padding: 10px;
}

.sub .heading {
    padding-bottom: 2px;
    border-bottom: 1px dashed #999;
    text-shadow: 0px 0px 15px #ddd;
}

/* #endregion */

/* #region Menu bar & crumb bar */

.crumbs,
.menubar {
    user-select: none;
    cursor: default;
    padding: 0px 8px;
    text-shadow: 0px 0px 6px #aaa;
}

.crumbs a,
.menubar a {
    text-decoration: none;
    display: inline-block;
    padding: 4px 2px 5px;
}
.crumbs a:hover,
.menubar a:hover {
    text-decoration: underline;
}
.crumbs svg,
.menubar svg {
    filter: drop-shadow(0px 0px 4px #aaa);
}

/* #endregion */

/* #region Page Footer */

.footer-container {
    margin: 0;
    margin-top: 12px;
    padding: 0;
    border-top: 1px solid var(--border-color);
    background: #161920;
    background: linear-gradient(to bottom, #3a3f4caa 0%, #161920aa 100%);
}

.footer {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 4px 10px;
    color: #aaa;
    box-sizing: border-box;
    height: var(--footer-height);
    font-size: 9pt;
    text-shadow: 0px 0px 2px #888;
    user-select: none;
}
.footer a {
    color: #aaa;
    margin-right: 6px;
}

.footer .social-bar {
    margin-top: 10px;
}
.footer .social-bar a {
    text-decoration: none;
    filter: drop-shadow(0px 0px 2px #888);
}

/* #endregion */

/* #endregion */
